.mrpContainer {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.mrpTitle {
  margin-top: -100px;
  font-size: 50px;
  font-weight: 800;
  font-family: 'Abhaya Libre';
  overflow: hidden;
  animation: slideup 0.5s linear forwards;
}

.mrpSubtitle {
  color: #727272;
  font-size: 13px;
  font-weight: 400;
}

/* 캐러셀 래퍼 */
.carouselWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 60px;
}

.viewAll {
  position: absolute;
  right: 15px;
  top: 30px;
  color: #3c3c3c;
  font-size: 15px;
  font-weight: 500;
}

.viewAll:hover {
  color: #666;
  border-color: #666;
}

/* 슬라이더 래퍼 */
.sliderWrapper {
  display: flex;
}

.sliderWrapper.transitioning {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 캐러셀 아이템 */
.carouselItem {
  flex-shrink: 0;
  width: calc(100%/ 5);
}

/* 아이템 이미지 */
.itemImg {
  position: relative;
  aspect-ratio: 3 / 4;
  background-color: #e5e7eb;
  border-radius: 10px;
  margin: 0 10px;
  overflow: hidden;
}

.itemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(145, 145, 145, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* z-index: 10; */
}

.hoverText {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline dotted;
}

.itemImg:hover .hoverOverlay {
  opacity: 1;
}

/* 하단 컨트롤 영역 */
.controlSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

/* 진행도 바 */
.progressTrack {
  flex: 1;
  margin: 0 1rem;
  background-color: #e5e7eb;
  height: 0.25rem;
  overflow: hidden;
}

.progressBar {
  background-color: black;
  height: 0.25rem;
  transition: width 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 컨트롤 버튼 */
.controlBtns {
  display: flex;
  margin-left: 10px;
  gap: 1.5rem;
}

.controlBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.leftArrow,
.rightArrow {
  width: 15px;
  height: 15px;
}

.rightArrow {
  transform: rotate(180deg);
}

.controlImg{
  width: 15px;
  height: 15px;
}